<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-top-fixed.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="d-flex search-button">
            {% if logged %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="btn btn-outline-success" href="/post-creation/">Create post</a>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <a class="btn btn-outline-success" href="/user/login/">Login</a>
            </div>
            {% endif %}
        </div>
    </nav>